.about {
  display: flex;
  color: white;
  width: 100%;
  height: 100vh;
  background-color: #1c274f;
  position: relative;
  overflow: hidden;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: -4%;
    bottom: -36%;
    background-color: #32468052;
    transform: rotate(-25deg);
    box-shadow: inset -20px 16px 26px 20px #1c274f;
    box-sizing: border-box;
  }

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: -4%;
    bottom: 107%;
    background-color: #32468052;
    transform: rotate(-25deg);
    box-shadow: inset -20px 16px 21px 88px #1c274f;
    box-sizing: border-box;
  }

  .me {
    h1,
    p {
      z-index: 10;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 63%;
    }
  }

  .icons {
    display: flex;
    width: 70%;
    padding-top: 2%;
    justify-content: space-evenly;

    #sass,
    #react,
    #js,
    #redux,
    #html,
    #css,
    #node {
      height: 2em;

      width: 2em;
      background-size: cover;
      opacity: 0.2;
    }
  }

  .title {
  }
}
